<% content_for :header_tags do %>
    <%= javascript_include_tag 'dhtmlxcommon', :plugin => 'git_lab_hooks' %>
    <%= javascript_include_tag 'dhtmlxgantt', :plugin => 'git_lab_hooks' %>
    <%= stylesheet_link_tag 'dhtmlxgantt.css', :plugin => 'git_lab_hooks' %>
<% end %>

<h2>Gantt chart</h2>

<div style="width:100%; height:610px; position:relative; align:center;" id="GanttDiv"></div>
<script type="text/javascript" language="JavaScript">
/*<![CDATA[*/
function createChartControl(htmlDiv1)
{
    // Create Gantt control
    var ganttChartControl = new GanttChart();
    // Setup paths and behavior
    ganttChartControl.setStylePath("/plugin_assets/git_lab_hooks/stylesheets")
    ganttChartControl.setImagePath("/plugin_assets/git_lab_hooks/images/");
    ganttChartControl.setEditable(true);
    ganttChartControl.showTreePanel(true);
    ganttChartControl.showContextMenu(true);
    ganttChartControl.showDescProject(true,'n,d');
    ganttChartControl.showDescTask(true,'n,s-f');
    var hoursDayfactor = 60 * 60 * 1000 * (24/ganttChartControl.hoursInDay);  

    // Initialize Gantt data structures
    //project
    var project<%= @project.id %> = new GanttProjectInfo(
      <%= @project.id %>, '<%= @project.name %>', null);

    // parent issues
    <% @issues.each do |issue| %>
      <% if !issue.parent_id? %>
        var precededBy = "";
        <% issue.relations.each do |relation| %>
          <% if relation.relation_type=="precedes" and issue.id==relation.issue_to_id %>
            precededBy = "<%= relation.issue_from_id %>";
          <% end %>
        <% end %>

        var taskStartDate = new Date();
        <% if issue.start_date? %>
          var taskStartDate = new Date('<%= issue.start_date.to_date %>');
        <% end %>
        taskStartDate.setHours(24);

        <% if issue.due_date? %>
          var taskDueDate = new Date('<%= issue.due_date.to_date %>')
          taskDueDate.setHours(48);
        <% end %>

        var taskName = '<%= issue.tracker %> #<%= issue.id %>: <%= issue.subject %>';

        var parentTask<%= issue.id %> = new GanttTaskInfo(
          <%= issue.id %>, taskName, taskStartDate,
          <% if issue.estimated_hours? %> <%= issue.estimated_hours %>
          <% elsif issue.due_date? %> (taskDueDate - taskStartDate) / hoursDayfactor
          <% else %> 0
          <% end %>,
          <%= issue.done_ratio %>, precededBy);

        project<%= @project.id %>.addTask(parentTask<%= issue.id %>);
      <% end %>
    <% end %>

    // parent child issues
    <% @issues.each do |issue| %>
      <% if issue.parent_id? %>
        var precededBy = "";
        <% issue.relations.each do |relation| %>
          <% if relation.relation_type=="precedes" and issue.id==relation.issue_to_id %>
            precededBy = "<%= relation.issue_from_id %>";
          <% end %>
        <% end %>

        var taskStartDate = new Date();
        <% if issue.start_date? %>
          var taskStartDate = new Date('<%= issue.start_date.to_date %>');
        <% end %>
        taskStartDate.setHours(24);

        <% if issue.due_date? %>
          var taskDueDate = new Date('<%= issue.due_date.to_date %>')
          taskDueDate.setHours(48);
        <% end %>

        var taskName = '<%= issue.tracker %> #<%= issue.id %>: <%= issue.subject %>';

        parentTask<%= issue.parent_id %>.addChildTask(new GanttTaskInfo(
          <%= issue.id %>, taskName, taskStartDate,
          <% if issue.estimated_hours? %> <%= issue.estimated_hours %>
          <% elsif issue.due_date? %> (taskDueDate - taskStartDate) / hoursDayfactor
          <% else %> 0
          <% end %>,
          <%= issue.done_ratio %>, precededBy));
      <% end %>
    <% end %>

    // Load data structure        
    ganttChartControl.addProject(project<%= @project.id %>);
    // Build control on the page
    ganttChartControl.create(htmlDiv1);
}
createChartControl('GanttDiv');
/*]]>*/
</script>
